{{!-- <div class="row">
  <div class="col">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div> --}}


<div class="row justify-content-around">
 
  <div class="col-md-5 mb-5">
    <form class="form new-post-form">
      <h1 class="h3 mb-3 font-weight-normal">Create a post</h1>
      <label for="post-name" class="sr-only">Post title</label>
      <input type="text" id="post-name" class="form-control mb-3" placeholder="What even is JavaScript?" required autofocus>

      <label for="post-desc" class="sr-only">Content</label>
      <textarea type="textarea" id="post-desc" class="form-control mb-3" placeholder="Write your blog here" required></textarea>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>


{{!-- <div class="row mt-4">
  <div class="col-md-5">
    <h3>Create a new post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{#if posts.length}}
  <div class="col-md-5">
    <h3>All your posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger post-list" data-id="{{post.id}}">DELETE</button>
        {{!-- <button class="btn btn-sm btn-warning" data-id="{{post.id}}">UPDATE</button> --}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
