<div class=" container text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form class="form-signin signup-form">
        <h5 class="mb-3 font-weight-normal">Make a Comment</h5>
        <input type="text" id="comment" name="comment-body" class="form-control form-input mb-3"
          placeholder="write your comment here" required>


        <button class="btn btn-md btn-danger comment-form" type="submit">Submit</button>
      </form>
    </div>
  </div>

{{> comments post.comments}}

  {{!-- {{#if comments.length}}
  <div class="col-md-5">
    <h3>All your posts:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
       <h2>something renders at least</h2>
      </div>
    
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}


{{!-- 
{{#if comment.length}}
  <div class="comments">
    {{#each comment as |comments| }}
    <div class="card">
      <h3 class="card-header"></h3>
      <section class="comment card-body">
        <div class="text">
          {{comment}}
        </div>
        <div class="meta">
          {{name}}
        </div>
      </section>
    </div>
    {{/each}}
  </div>
 {{/if}} --}}



  <script src="/js/comment.js"></script>