<div class="container text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form class="form-signin signup-form">
        <h5 class="mb-3 font-weight-normal">Make a Comment</h5>
        <input type="text" id="comment" name="comment-body" class="form-control form-input mb-3"
          placeholder="write your comment here" required>


        <button class="btn btn-md btn-danger comment-form" type="submit">Submit</button>
      </form>
    </div>
  </div>

<div class="row justify-content-md-center mt-5">
  <div class="col-md-8">
 <h3>Comments:</h3>
  {{#if comments.length}}
    {{#each comments as |comment|}}
<div class="card">
  
  <div class="card-body">
    
    <h5 class="card-text">{{this.comment}}</h5>
    <p class="card-title">Created by: {{user_id}}</p>
  
  </div>
</div>
{{/each}}
    

    {{/if}}
  </div>
</div>



   




  <script src="/js/comment.js"></script>